*{padding: 0px; margin:0px; position: relative;}
html, body{width: 100%; height: 100%; background-color: #7DC190; z-index: -2; font-family: sans-serif;}

.formula{position: relative; margin-top: 50px; font-family: 'Coming Soon', cursive; }
.notepad{position: absolute; top:250px; left:70%; width: 1100px; height:500px; margin-left: -800px; z-index: -1}
.numpadtop{position: absolute;left: 70%; width: 320px; top:-150px; margin-left: -50px;}
.keyboard{position: absolute; z-index: 0; width: 362px; left:-35px; top:-37px;}
.numpadtop span{float: left; width: 50px; height: 49px; line-height: 50px; margin: 5px; text-align: center; cursor: pointer; top:0px; transition:.1s;background-image: asset-url('key.png'); background-repeat: no-repeat; background-size: 100%;z-index: 10 ; font-family: sans-serif;}
.numpadtop span:hover{top:2px; opacity: 0.8}

#content{position: absolute; width: 900px; height: 400px; left: 70%; margin-left: -950px; }
.column{width: 150px; height: 300px; float: right; background-image: asset-url('column.png'); background-size: 100%;}

#equally{position: absolute; width: 100px; left:70%; margin-left: -70px;height: 300px; line-height:250px; font-size: 100px; text-align: center; font-family: 'Coming Soon', cursive; }
#solution{position: absolute; width: 150px; left:70%; height:300px;  background-image: asset-url('column.png'); background-size: 100%;}

.delete{width: 100px; height: 100px; position: absolute; margin: 15px;cursor: pointer; background-image: asset-url('eraser.png'); background-size: 100%; background-repeat: no-repeat;}
.delete:hover{opacity: 0.7}

#delc{left:120px; top:5px;}
#delz{left:120px; top:120px;}

.input{width: 100px; height: 100px; font-size: 60px; line-height: 100px;  text-align: center; float: left; margin: 5px 25px; font-family: 'Coming Soon', cursive; }
#chislitel,#znamenatel{background: rgba(255,255,255,0.3); border: 1px solid #aaa; font-family: 'Coming Soon', cursive;}
.inputCorrect{width: 100px; height: 100px; font-size: 60px; line-height: 100px; border:1px solid green; outline: 4px solid green; text-align: center; float: left; margin: 5px 25px;}
.inputCorrect:focus{border:1px solid green;  outline: 4px solid green; outline-offset: 0px;}
.inputIncorrect{width: 100px; height: 100px; font-size: 60px; line-height: 100px; border:1px solid green; outline: 4px solid red; text-align: center; float: left; margin: 5px 25px;}
.inputIncorrect:focus{border:1px solid green;  outline: 4px solid red; outline-offset: 0px;}
.inputYCorrect{width: 100px; height: 100px; font-size: 60px; line-height: 100px; border:1px solid yellow; outline: 4px solid yellow; text-align: center; float: left; margin: 5px 25px;}
.inputYCorrect:focus{border:1px solid yellow;  outline: 4px solid yellow; outline-offset: 0px;}


.actiondiv{position: absolute; top:0px;  right:75px; font-family: 'Coming Soon', cursive; }
.action{width: 150px; height: 300px; line-height: 230px; font-size: 70px; text-align: center; float: right; font-family: 'Coming Soon', cursive; }

.loose{position: absolute; display: none; width: 100%; height: 100%; top:0px; z-index: 90}
.loose1{position: absolute; width: 100%; height: 100%; background-color: rgba(255,255,255,0.5); top:0px; z-index: 110}

.loosetext{position: absolute; width: 250px; top:200px; left:50%; margin-left: -120px; text-align: center; font-family: 'Coming Soon', cursive; font-weight: bold; font-size: 30px; color: #943;}

.result_score{position: absolute; width: 250px; top:260px; left:50%; margin-left: -200px; text-align: center; font-family: 'Coming Soon', cursive;  font-size: 24px; color: #943;}
.result_level{position: absolute; width: 250px; top:260px; left:50%; margin-left: -50px; text-align: center; font-family: 'Coming Soon', cursive;  font-size: 24px; color: #943;}

#totalscore{font-size: 28px; font-weight: bold;}
#totallevel{font-size: 28px; font-weight: bold;}

.htext{width: 49%; left:0px; text-align: right; position: absolute; font-size: 26px;}


.button{width: 240px; height: 60px;color:white; border-radius: 10px; background-color: #363; margin: 20px auto; text-transform: uppercase; line-height: 60px;  text-align: center; cursor: pointer; position: absolute; top:600px; left:50%; font-weight: bold; font-size: 24px; box-shadow: 0px 6px 0px #696; transition:.2s; margin-left: 100px;}
.button:hover{margin-top:23px; box-shadow: 0px 2px 0px #696; background-color: #585;}

.countdown{position: absolute; width: 100%; height: 100%; background-color: rgba(255,255,255,0.5); top:0px; font-size: 100px; transition:1s; opacity: 1; text-align: center; z-index: 100;}
.countdown2{display: none;}
.count{top:80px; font-family: 'Coming Soon', cursive;  color:#394; width: 266px; position: absolute; left:40%; text-align: center;}
.countstart{top:400px; font-family: sans-serif; color:red; width: 100%; position: absolute; text-align: center; font-size: 100px; font-weight: bold; text-shadow:0px 2px 2px #933;}
.yellowskick{position: absolute; width: 266px; left: 40%; top:50px;}
.help{position: absolute; top:180px; left:70%; width: 1001px; margin-left: -650px;}


.looseimg{position: absolute; width: 600px; left:50%; margin-left: -300px; top:100px;}

#yourname{border: 0px; border-bottom: 2px solid #943; position: absolute; font-size: 24px; font-family: 'Coming Soon', cursive; background: none; top:400px; left:50%; margin-left: -150px; width: 200px;}
#yourname:focus{outline: 0px;}
.send{position: absolute; top:390px; left:50%; margin-left: 50px; transition:.1s; cursor: pointer; background: asset-url('arrow_right.png'); width: 64px; height: 64px; background-repeat: no-repeat;}
.send:hover{margin-left: 55px;}



.header{left:70%; top:0px; width: 950px; margin-left: -750px; height: 300px;}
.title{font-weight: bold; color:#eee; font-size: 100px; text-shadow:0px 2px 2px green; width: 100%; text-align: center;}
#slogan{position: absolute;width: 100%; text-align: center; color:#eee; text-shadow:0px 2px 2px green; text-transform: uppercase; font-size: 28px;}

.headerbox{position: relative; float: left; margin:50px 0px 0px 65px; width: 100px; height: 100px; color:white; border-radius: 10px; background-color: #363; text-align: center;}
.boxtit{width: 90%; margin: 15% 5%; text-transform: uppercase; font-size: 12px;}
#level,#point,#score,#time{width: 90%; margin: 20% 5%; text-transform: uppercase; font-weight: bold; font-size: 25px;}

.hide{display: none;}




.highscores{width: 300px; position: absolute; left: 70%; top:110px; cursor: default;}
.highscore-line{margin: 10px 0px; position: relative; width: 100%; height: 40px; line-height: 40px; text-align: center; color:white; font-weight: bold;
	&:hover div{background-color: #474
	}
}

.highscore-title{margin: 20px 0px; position: relative; width: 100%; height: 40px; line-height: 40px; text-align: center; color:white; font-size: 10px;
	div{ background-color: #555; 

	}
}

.highscore-name{position: absolute; top:0px; left:0px; width: 200px; height: 40px; text-align: left; border-radius: 10px; background-color: #363; text-indent: 20px;}
.highscore-level{position: absolute; top:0px; left:210px; width: 40px; height: 40px; border-radius: 10px; background-color: #363; }
.highscore-score{position: absolute; top:0px; left:260px; width: 40px; height: 40px; border-radius: 10px; background-color: #363; }


